{{template "header.html" .}}
<form method="get" action="/upload">
    <button type="submit" class="btn btn-sm btn-success">Upload files</button>
</form>
</br>

<table class="table table-bordered">
	<tbody><tr><th>Filename</th><th>Download</th></tr>
	{{range $item := .list}}
		<tr>
			<td>{{$item}}</td>
			<td>
				<form action="/download" method="post" enctype="multipart/form-data">
					<button type="submit" class="btn btn-sm btn-success" name="filename" value="{{$item}}">Download</button>
				</form>
			</td>
		</tr>
	{{end}}
</tbody></table>

{{template "footer.html".}}
