{{template "header.html" .}}
	<div class="lead">文件上传</div>
{{if .success}}
<div class="alert alert-success" role="alert">上传成功：{{.filename}}</div>
{{end}}
{{if .error}}
<div class="alert alert-danger" role="alert">{{.error}}</div>
{{end}}
<form id="fform" action="/upload" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="dir">上传到:</label>
			<select name="dir" id="dir" class="form-control">
				<option value="">shared</option>
				{{range .user.Permissions}}
					{{if .Write}}
						<option value="{{.Path}}">{{.Path}}</option>
					{{end}}
				{{end}}
			</select>
		</div>
   		<input id="uploadfile" name="uploadfile" type="file"/></br>
      <input type="submit" value="上传"/>
</form>

{{template "footer.html".}}
